<html>
    <head>
        <title>
            Coca-cola
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='style1.css')}}">
    </head>
    <body>
        <header>
            
            <a href ="#home"></a>
            <a href ="#mega"></a>
            <a href ="#maga"></a>
            <a href=""><img id="s" src="https://www.coca-cola.com/content/dam/onexp/global/icons/Coke-company-logo-black.svg"></a>
            
        </header>
        <main>
            
            <p id="q"><img src="https://www.coca-cola.com/content/dam/onexp/kz/ru/brand-coca-cola/180x180-01.svg">
            <form action="" method="post">
                <div>
                    <input type="submit" value="Нажми" />
                </div>
            </form>
            <p ><img id="w" src="https://www.coca-cola.com/content/dam/onexp/kz/ru/brand-coca-cola/real-magic-brand-section-header-carousel-desktop.jpg/width1338.jpg">
            <p id="e"><h1>Продукция</h1>
            <div>
            <p id="r"><b>Coca-Cola</b></p>
            <details>
                <summary>Покажи-скрой меня</summary>
                <p>Пищевая ценность</p>
                <a>на 100 мл</a>
                <p></p>Калории                  42 ккал (176 кдж)
                <p></p>Всего жира               0,0 г
                <p></p>Всего углеводов          10,6 г
                <p></p>Всего сахаров            10,6 г
                <p></p>Протеин                  0,0 г
                <p></p>Натрий                   0,0 г
                <h1>Ингредиенты</h1>
                <p>Газированная вода, сахар, краситель (сахарный колер IV), регулятор кислотности (ортофосфорная кислотa), натуральные ароматизаторы, кофеин.</p>
            </details>
            <p ><img id="n" src="https://www.coca-cola.com/content/dam/onexp/tj/ru/brand-coca-cola/coca_cola_original.png/width1338.png">
            </div>
            
            <div>
            <p id="r"><b>Coca‑Cola Без Сахара</b></p>
            <details>
                <summary>Покажи-скрой меня</summary>
                <p>Пищевая ценность</p>
                <a>на 100 мл</a>
                <p></p>Калории                  42 ккал (176 кдж)
                <p></p>Всего жира               0,0 г
                <p></p>Всего углеводов          10,6 г
                <p></p>Всего сахаров            10,6 г
                <p></p>Протеин                  0,0 г
                <p></p>Натрий                   0,0 г
                <h1>Ингредиенты</h1>
                <p>Газированная вода, сахар, краситель (сахарный колер IV), регулятор кислотности (ортофосфорная кислотa), натуральные ароматизаторы, кофеин.</p>
            </details>
            <p ><img id="m" src="https://www.coca-cola.com/content/dam/onexp/tj/ru/brand-coca-cola/coca_cola_zero.png/width1338.png">
            </div>
            
            <div>
            <p id="r"><b>Coca‑Cola Без Сахара Лайм и Лимон</b></p>
            <details>
                <summary>Покажи-скрой меня</summary>
                <p>Пищевая ценность</p>
                <a>на 100 мл</a>
                <p></p>Калории                  42 ккал (176 кдж)
                <p></p>Всего жира               0,0 г
                <p></p>Всего углеводов          10,6 г
                <p></p>Всего сахаров            10,6 г
                <p></p>Протеин                  0,0 г
                <p></p>Натрий                   0,0 г
                <h1>Ингредиенты</h1>
                <p>Газированная вода, сахар, краситель (сахарный колер IV), регулятор кислотности (ортофосфорная кислотa), натуральные ароматизаторы, кофеин.</p>
            </details>
            <p ><img id="b" src="https://www.coca-cola.com/content/dam/onexp/kz/ru/brand-coca-cola/coca-cola-zero-sugar-lemon-lime_product_image-desktop.jpg/width1338.jpg">
            </div>
            
            <h1>Coca‑Cola</h1>
            <p>Созданная фармацевтом доктором Джоном Пембертоном в 1886 году в Атланте, штат Джорджия, Coca‑Cola является самым популярным и наиболее продаваемым прохладительным напитком в истории, а также одним из самых узнаваемых брендов в мире.</p>
            
        </main>
        <footer>
            <p id="k"><img src="https://www.coca-cola.com/content/dam/onexp/global/icons/Coke-company-logo-black.svg">
            <p id="l"><a>©2024 The Coca‑Cola Company, Все права защищены.</a>
        </footer>
    </body>
</html>